USE [master]
GO
/****** Object:  Database [SCISAConsultorio]    Script Date: 27/11/2022 08:06:34 p. m. ******/
CREATE DATABASE [SCISAConsultorio]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SCISAConsultorio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SCISAConsultorio]
GO
/****** Object:  Table [dbo].[CITA]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITA](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[IdDoctor] [int] NULL,
	[IdPaciente] [int] NULL,
	[Detalle] [varchar](250) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[IdDoctor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Cedula] [varchar](10) NULL,
	[Foto] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDoctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Peso] [decimal](18, 0) NULL,
	[Altura] [decimal](18, 0) NULL,
	[Foto] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](100) NULL,
	[Clave] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CITA] ON 

INSERT [dbo].[CITA] ([IdCita], [IdDoctor], [IdPaciente], [Detalle], [Fecha]) VALUES (1, 2, 1, N'AAA', CAST(N'2022-11-26T00:00:00.000' AS DateTime))
INSERT [dbo].[CITA] ([IdCita], [IdDoctor], [IdPaciente], [Detalle], [Fecha]) VALUES (18, 7, 14, N'dolor de cabeza', CAST(N'2022-01-01T01:00:00.000' AS DateTime))
INSERT [dbo].[CITA] ([IdCita], [IdDoctor], [IdPaciente], [Detalle], [Fecha]) VALUES (22, 4, 19, N'Fractura', CAST(N'2022-11-27T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CITA] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([IdDoctor], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Cedula], [Foto]) VALUES (1, N'Gregory', N'House', N'Martinez', N'12654789', N'')
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([IdPaciente], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [FechaNacimiento], [Peso], [Altura], [Foto]) VALUES (1, N'Pedro', N'Gonzales', N'Huerta', CAST(N'1999-02-02' AS Date), CAST(61 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), N'')
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Correo], [Clave]) VALUES (1, N'ggmail@gmail.com', N'c55d52d0b68a73e44dd7dc6bd0381b47')
INSERT [dbo].[Usuario] ([IdUsuario], [Correo], [Clave]) VALUES (2, N'gtx@mail.com', N'202cb962ac59075b964b07152d234b70')
INSERT [dbo].[Usuario] ([IdUsuario], [Correo], [Clave]) VALUES (3, N'ddd', N'202cb962ac59075b964b07152d234b70')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD FOREIGN KEY([IdDoctor])
REFERENCES [dbo].[Doctor] ([IdDoctor])
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [IdDoctor] FOREIGN KEY([IdDoctor])
REFERENCES [dbo].[Doctor] ([IdDoctor])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [IdDoctor]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [IdPaciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([IdPaciente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [IdPaciente]
GO
/****** Object:  StoredProcedure [dbo].[CitaAdd]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CitaAdd]
(@IdDoctor INT,
@IdPaciente INT,
@Detalle VARCHAR(250),
@Fecha DATETIME)
AS
 INSERT INTO CITA (IdDoctor, IdPaciente, Detalle, Fecha) VALUES
 (@IdDoctor, @IdPaciente, @Detalle, @Fecha)
GO
/****** Object:  StoredProcedure [dbo].[CitaDelete]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[CitaDelete]
  @IdCita INT
  AS
  DELETE FROM CITA 
  WHERE IdCita = @IdCita;
GO
/****** Object:  StoredProcedure [dbo].[CitaGetAll]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[CitaGetAll]
 AS
 SELECT [IdCita]
      ,[IdDoctor]
      ,[IdPaciente]
      ,[Detalle]
      ,[Fecha]
  FROM CITA
GO
/****** Object:  StoredProcedure [dbo].[CitaList]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CitaList]
as
SELECT CITA.IdCita, 
Doctor.IdDoctor, Doctor.Nombre, Doctor.ApellidoPaterno,Doctor.ApellidoMaterno, 
Paciente.IdPaciente, Paciente.Nombre, Paciente.ApellidoPaterno, Paciente.ApellidoMaterno, 
CITA.Detalle, CITA.Fecha FROM CITA
INNER JOIN Doctor ON CITA.IdDoctor = Doctor.IdDoctor
INNER JOIN Paciente ON CITA.IdPaciente = Paciente.IdPaciente
GO
/****** Object:  StoredProcedure [dbo].[CitaUpdate]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CitaUpdate]
(
@IdCita INT,
@IdDoctor INT,
@IdPaciente INT,
@Detalle VARCHAR(250),
@Fecha DATETIME
)
AS
UPDATE CITA SET
IdDoctor = @IdDoctor,
IdPaciente = @IdPaciente,
Detalle = @Detalle,
Fecha = @Fecha
WHERE IdCita = @IdCita
GO
/****** Object:  StoredProcedure [dbo].[DoctorAdd]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DoctorAdd]
(
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Cedula VARCHAR(10),
@Foto VARCHAR(MAX)
)AS
INSERT INTO Doctor (Nombre, ApellidoPaterno, ApellidoMaterno, Cedula, Foto) VALUES
(@Nombre, @ApellidoPaterno, @ApellidoMaterno, @Cedula, @Foto)

GO
/****** Object:  StoredProcedure [dbo].[DoctorDelete]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DoctorDelete]
@IdDoctor INT
AS
DELETE FROM Doctor 
WHERE IdDoctor = @IdDoctor

GO
/****** Object:  StoredProcedure [dbo].[DoctorGetAll]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DoctorGetAll]
as
SELECT IdDoctor, Nombre, ApellidoPaterno, ApellidoMaterno, Cedula, Foto FROM Doctor

GO
/****** Object:  StoredProcedure [dbo].[DoctorGetById]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DoctorGetById]
@IdDoctor INT
as
SELECT IdDoctor, Nombre, ApellidoPaterno, ApellidoMaterno, Cedula, Foto FROM Doctor
WHERE IdDoctor = @IdDoctor

GO
/****** Object:  StoredProcedure [dbo].[DoctorUpdate]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DoctorUpdate]
(
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Cedula VARCHAR(10),
@Foto VARCHAR(MAX),
@IdDoctor INT
)AS
UPDATE Doctor SET 
Nombre = @Nombre, 
ApellidoPaterno = @ApellidoPaterno, 
ApellidoMaterno = @ApellidoMaterno,
Cedula = @Cedula,
Foto = @Foto
WHERE IdDoctor = @IdDoctor

GO
/****** Object:  StoredProcedure [dbo].[PacienteAdd]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PacienteAdd]
(
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@FechaNacimiento DATE,
@Peso DECIMAL,
@Altura DECIMAL,
@Foto VARCHAR(MAX)
)AS
INSERT INTO Paciente (Nombre, ApellidoPaterno, ApellidoMaterno, FechaNacimiento, Peso, Altura, Foto)VALUES
(@Nombre, @ApellidoPaterno, @ApellidoMaterno, @FechaNacimiento, @Peso, @Altura, @Foto)

GO
/****** Object:  StoredProcedure [dbo].[PacienteCitaAdd]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PacienteCitaAdd](
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@FechaNacimiento DATE,
@Peso DECIMAL,
@Altura DECIMAL,
@Foto VARCHAR(MAX),
@IdDoctor INT,
@Detalle VARCHAR(250),
@Fecha DATETIME
)
AS
	BEGIN
		INSERT INTO Paciente
		(Nombre, ApellidoPaterno, ApellidoMaterno, FechaNacimiento, Peso, Altura, Foto)VALUES
		(@Nombre, @ApellidoPaterno, @ApellidoMaterno, CONVERT(DATE, @FechaNacimiento, (105)), @Peso, @Altura, @Foto)

		INSERT INTO Cita(IdDoctor, IdPaciente, Detalle, Fecha) VALUES
		(@IdDoctor, @@IDENTITY, @Detalle, @Fecha)
END
GO
/****** Object:  StoredProcedure [dbo].[PacienteDelete]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PacienteDelete] 
@IdPaciente INT
AS
DELETE FROM Paciente
WHERE IdPaciente = @IdPaciente

GO
/****** Object:  StoredProcedure [dbo].[PacienteGetAll]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PacienteGetAll]
AS
SELECT IdPaciente, Nombre, ApellidoPaterno, ApellidoMaterno, FechaNacimiento, Peso, Altura, Foto FROM Paciente

GO
/****** Object:  StoredProcedure [dbo].[PacienteGetById]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PacienteGetById]
@IdPaciente INT 
AS
SELECT IdPaciente, Nombre, ApellidoPaterno, ApellidoMaterno, FechaNacimiento, Peso, Altura, Foto FROM Paciente
WHERE IdPaciente = @IdPaciente

GO
/****** Object:  StoredProcedure [dbo].[PacienteUpdate]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PacienteUpdate]
(@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@FechaNacimiento DATE,
@Peso DECIMAL,
@Altura DECIMAL,
@Foto VARCHAR(MAX),
@IdPaciente INT
)
AS
UPDATE Paciente SET 
Nombre = @Nombre,
ApellidoPaterno = @ApellidoPaterno,
ApellidoMaterno = @ApellidoMaterno,
FechaNacimiento = @FechaNacimiento, 
Peso = @Peso, 
Altura = @Altura, 
Foto = @Foto 
WHERE IdPaciente = @IdPaciente

GO
/****** Object:  StoredProcedure [dbo].[UsuarioRegister]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UsuarioRegister]
(
@Correo VARCHAR(100),
@Clave VARCHAR(500),
@Registrado BIT OUTPUT,
@Mensaje VARCHAR(100) OUTPUT
)
AS
	BEGIN
		IF(NOT EXISTS (SELECT IdUsuario, Correo, Clave FROM Usuario WHERE Correo = @Correo))
		BEGIN
			INSERT INTO Usuario(Correo, Clave) VALUES (@Correo, @Clave)
			SET @Registrado = 1
			SET @Mensaje = 'usuario registrado'
		END
		ELSE
		BEGIN
			SET @Registrado = 0
			SET @Mensaje = 'correo ya existe'
		END
END
GO
/****** Object:  StoredProcedure [dbo].[UsuarioValidate]    Script Date: 27/11/2022 08:06:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UsuarioValidate]
(
@Correo VARCHAR(100),
@Clave VARCHAR(500)
)
AS
	BEGIN
		IF(EXISTS(SELECT IdUsuario, Correo, Clave FROM Usuario WHERE Correo = @Correo AND Clave = @Clave))
			SELECT IdUsuario FROM Usuario WHERE Correo = @Correo AND Clave = @Clave
		ELSE
			SELECT '0'
	END
GO
USE [master]
GO
